<h1>New game</h1>

<div class="letters-container">
  <% @letters.each do |letter| %>
    <div class="letter"><%= letter.upcase %></div>
  <% end %>
</div>

<div class="form-container">
  <div class="form">
    <p>What is the longest word you can find? </p>
    <form action="/score" method="post">
      <input type="text" name="word" value="<%= params[:word] %>" placeholder="type a word">
      <input type="submit" class="button" value="play">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :letters, @letters %>
    </form>
  </div>
</div>
