 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Defining a variable
 $gray: #F4F4F4;

 body {
   background: $gray; // Using this variable
   font-family: 'Roboto', sans-serif;
 }

 h1 {
   text-align: center;
 }

.letters-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.letter {
  background-color: rgb(187, 187, 235);
  border-radius: 5px;
  height: 40px;
  width: 40px;
  margin: 5px;
  color: white;
  text-align: center;
  font-size: 36px;
  text-shadow: 1px 1px 3px black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;


}

.form {
  flex: auto;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  height: 90px;
  width: 320px;
  margin: 30px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  text-align: center;
}
